/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

main {
  /*margin-top: 30px;*/
  margin-bottom: 1rem; /*Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem; /* Set the fixed height of the footer here */
  line-height: 4rem; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Main page */
main > .container-main {
  align-items: center;
  display: grid;
  width: 100%;
  max-width: 90%;
  max-height: 70%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
}

/*.jumbo-color{
  background: #007bff;
  color: #fff;
}*/

.container > .btn {
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.footer > .container {
  width: auto;
  max-width: max-content;
  padding: 0 1rem;
}

/*.buttons-margin{
  margin-top: 3rem;
  margin-bottom: 6rem;
  
}*/
/* ADMIN PAGE**/

.admin-footer {
  margin-top: 30px;
}
