/****** LOGIN FORM ****/
.btnSubmit {
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

.login-form {
  padding: 5%;
  background: #007bff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 2%;
}

.login-form h3 {
  text-align: center;
  color: #fff;
}

.login-form .return-to-home-page {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}

.login-form .btnSubmit {
  font-weight: 600;
  color: #0062cc;
  background-color: #fff;
  width: 100%;
  max-width: 60%;
  height: 5rem;
  max-height: 60%;
  font-size: xx-large;
  line-height: 100%;
}

.login-container form {
  padding: 10%;
}

.login-form input {
  height: 5rem;
  font-size: xx-large;
}

.login-form .return-to-home-page {
  margin-top: 2rem;
  font-size: x-large;
}

/**************MODAL************/
.modal {
  position: fixed;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 10000;
}

.modal-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  width: 90%;
  border-radius: 0.5rem;
  max-height: 80%;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  display: block;
}

/*********** WRONG INPUT DIV ******/
.wrong-input-text-properties {
  color: red;
  font-size: xx-large;
  font-weight: 600;
}

.wrong-input-border {
  border: 0.5rem solid red;
  border-radius: 0.5rem;
}

.hidden {
  display: none;
}

/****** MEDIA QUERIES *****/

@media screen and (max-height: 750px) and (orientation: portrait) {
  .modal-content {
    margin-top: 15%;
  }

  .display-4 {
    font-size: 2rem;
  }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
  .modal-content {
    margin-top: 4%;
  }

  .display-4 {
    font-size: 2rem;
  }

  .login-form input {
    height: 3rem;
    font-size: x-large;
  }

  .wrong-input-text-properties {
    font-size: large;
  }

  .login-form .btnSubmit {
    height: 3rem;
    font-size: x-large;
  }

  .login-form .return-to-home-page {
    font-size: large;
  }
}
