.table-responsive {
  width: auto;
  display: none;
}

.embeddedScene {
  display: block;
  width: auto;
}

.position-table-min-height {
  min-height: 42em;
}

#positionTableDiv > * .fixed-table-body {
  height: max-content !important;
}
